<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Cookie Consent Box</title>
    <link rel="stylesheet" href="../static/CSS/styles.css" />
    <link rel="stylesheet" href="../static/CSS/cookies.css" />
    <!-- BOXICONS CSS-->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
        <header>
            <i class="bx bx-cookie"></i>
            <h2>Consentimiento de Cookies </h2>
            </header>
        <div class="data">
            <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios. 
            <a href="#">Leer más...</a></p>
        </div>
            <div class="botones">
            <button class="button" id="Btn_aceptar">Acceptar</button>
            <button class="button" id="Btn_rechazar">Rechazar</button>
        </div>
    </div>    
</body>

<script src="../static/Script/cookies.js"></script>

</html>