    /*Secciones Productos*/
    
.Apartado_producto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    column-gap: 100px;
    margin: 0 70px;
    justify-items: center;
    max-width: 100%;
    margin-bottom: 5px;
    overflow: auto;
}

.contenedor-productos{
    margin-left: 50px;
}

.Apartado_producto button{
    width: 20ch;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 0;
    
}
.Apartado_producto button p{
    font-size: 30px;
}

.Apartado_producto button h3{
    color: #5D0703;
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    font-size: 14px;  
}

/*_______________________________________________________________*/

/*    FILTROS    */

.filtros{
    background-color: antiquewhite;
    border: 5px solid #5D0703;
    padding: 20px;
    margin: 0 10%;
    display: flex;
    align-items: center;
    max-width: 80%;
    flex-wrap: wrap;
}

.filtro-grupo {
    gap: 6px;
}

.filtro-precio {
    display: flex;
    margin-right: 120px;
    gap: 20px;
}

.tarjeta-producto{
    background-color: #eb814d;
    border: 5px solid #5D0703;
    border-radius: 6px;
    padding: 10px;
}

.tarjeta-producto img{
    width: 225px;
    height: 230px;
}

/*_______________________________________________________________*/

/*    CARRITO    */

.dropdown-carrito{
    position: relative;
}

.contenido-carrito{

    display:none;

    position:absolute;

    right:0;

    top:40px;

    width:300px;

    background:white;

    border:1px solid #ccc;

    padding:15px;

    z-index:999;
}

.producto-carrito{

    border-bottom:1px solid #ddd;

    margin-bottom:10px;

    padding-bottom:10px;

}