<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Mueble</title>
    <link rel="icon" href="../static/imagenes/Logo_Axa_asb.png" type="image/x-icon">
    <!-- BOXICONS CSS-->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/2193d055c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/CSS/styles.css"> 
    <link rel="stylesheet" href="/static/CSS/MediaQueries.css"> 
</head>
<body>

    <header class="encabezado">
        <nav class="navegador_secciones">
            <nav class="nav-links">

                <!--    Enlace a pagina principal   -->
                <a href="{{ url_for('home') }}">
                    <img src="/static/imagenes/Logo_Axa_asb.png" alt="Logo de empresa" class="logo">
                </a>
                <a href="{{url_for('pagina_productos')}}" class="Apartados">Productos</a>
                {% if session.get('rol') == "admin" %}
                    <a href="{{ url_for('personalizar_muebles') }}" class="Apartados">Añadir artículo nuevo</a>
                {% else %}
                    <a href="{{ url_for('personalizar_muebles') }}" class="Apartados">Personalizacion Muebles</a>
                {% endif %}

                <a href="#" class="Apartados">Carrito</a>
                <!--    Dropdown del usuario    -->
                <div class="dropdown">
                    <img src="/static/imagenes/15081.png" 
                    alt="Imagen_Log_in" 
                    class="login" 
                    onclick="Menu_login_registro()">
                        
                    {% if session.get("id_usuario") %}
                        <div id="menuLogin" class="dropdown-content">
                            <p>Hola {{session.get("usuario")}}</p>
                            <a href="{{url_for('logout')}}">Cerrar sesion</a>
                        </div>
                    
                    {% else %}
                        <div id="menuLogin" class="dropdown-content">
                            <!--Enlace a pagina login-->
                            <a href="{{ url_for('login') }}">Login</a>
                            <!--Enlace a pagina registro-->
                            <a href="{{ url_for('registro') }}">Registrarse</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </nav>
    </header>

    <div class="contenedor" style="width: 60%; margin-left: 20%;" >
        <h2>
            {% if administrador %}
                Añadir Artículo a la Tienda ({{session.get("usuario")}})
            {% else %}
                Crear Mueble Personalizado
            {% endif %}
        </h2>

        <form action="{{url_for('personalizar_muebles')}}" method="post">
            <div class="Sections">

                <!-- Tipo de mueble -->
                <label for="tipo_mueble">Tipo de mueble:</label><br>
                <select id="tipo_mueble" name="tipo_mueble">
                    <option value="Armario">Armario</option>
                    <option value="Sofa">Sofa</option>
                    <option value="Mesa">Mesa</option>
                    <option value="Sillas">Sillas</option>
                </select><br><br>
                
                <!-- Sección del hogar -->
                <label for="seccion_hogar">Sección del hogar para el que quieres el mueble:</label><br>
                <select id="seccion_hogar" name="seccion_hogar">
                    <option value="Salon">Sala de estar</option>
                    <option value="Aseo">Aseo</option>
                    <option value="Cocina">Cocina</option>
                    <option value="Dormitorio">Dormitorio</option>
                    <option value="Comedor">Comedor</option>
                    <option value="Oficina">Oficina</option>
                    <option value="Terraza">Terraza</option>
                    <option value="Jardin">Jardín</option>
                    <option value="Recibidor">Recibidor</option>
                    <option value="Lavanderia">Lavandería</option>
                </select><br><br>

                <!-- Color del mueble-->
                <label for="color">Color:</label><br>
                <input type="text" id="color" name="color"
                placeholder="Ej: Blanco, Roble, Negro" required><br><br>

                <!-- Dimensiones -->
                <h3>Dimensiones (cm)</h3>

                <label for="ancho">Ancho:</label><br>
                <input type="number" id="ancho" name="ancho"
                min="1" required><br><br>

                <label for="alto">Alto:</label><br>
                <input type="number" id="alto" name="alto"
                min="1" required><br><br>

                <label for="profundidad">Profundidad:</label><br>
                <input type="number" id="profundidad" name="profundidad"
                min="1" required><br><br>

                <!-- Material -->
                <label for="material">Material:</label><br>
                <select id="material" name="material">
                    <option value="Sintetico">Sintetico</option>
                    <option value="Algodon">Algodon</option>
                    <option value="Cuero">Cuero</option>
                    <option value="Madera">Madera</option>
                    <option value="Inox">Acero Inoxidable</option>
                </select><br><br>

                <!-- Descripción -->
                <label for="descripcion">Descripción:</label><br>
                <textarea id="descripcion_mueble" name="descripcion_mueble" style="width: 80%; height: 120px;"
                placeholder="Describe el mueble, estilo, detalles, etc."></textarea><br><br>

                <!-- Precio estimado -->
                <label for="precio_estimado">Precio estimado (€):</label><br>
                <input type="number" id="precio_estimado" name="precio_estimado"
                 min="1" step="0.01" required><br><br>

                <!-- Estado -->
                <label for="estado">Estado:</label><br>
                <select name="estado" id="estado" required>
                    <option value="Nuevo">Nuevo</option>
                    <option value="Segunda mano">Segunda mano</option>
                </select><br><br>
                
                {% if administrador %}
                <div class="seccion-admin" style="background-color: #f9f9f9; padding: 15px; border-left: 4px solid #333; margin-bottom: 20px;">
                    <h3>Datos de Inventario (Solo Admin)</h3>
                    
                    <label for="stock">Stock inicial:</label><br>
                    <input type="number" id="stock" name="stock" min="0" value="10" required><br><br>

                    <label for="url_imagen">URL de la imagen:</label><br>
                    <input type="text" id="url_imagen" name="url_imagen" placeholder="Ej: mesa_roble.jpg"><br><br>

                    <label for="id_proveedor">Proveedor Logístico Asociado:</label><br>
                    <select id="id_proveedor" name="id_proveedor" required>
                        <option value="" disabled selected>Elige el proveedor</option>
                        {% for proveedor in proveedores %}
                            <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                {% endif %}

            </div>

            <button type="submit" >
                Guardar Mueble
            </button><br><br>
            {% if mensaje %}
            <h3>{{mensaje}}</h3>
            {% endif %}

        </form>
    </div>

    <footer>
        <div class="footer_contenido">
            <div class="columna_footer">
                <u><h3>Proovedores: </h3></u>
                <div class="img_parocinadores">
                    <img src="../static/imagenes/DHL_Logo.jpg" alt="Logo DHL">
                    <img src="../static/imagenes/Kartra-Review_logo.jpg" alt="Logo Kartra"/>
                    <img src="../static/imagenes/Correos_logo.jpg" alt="Logo correos"/>
                    <img src="../static/imagenes/Mollari_logo.jpg" alt="Logo Mollarri Garraioak"/>
                    <img src="../static/imagenes/Leroy_Merlin_logo.jpg" alt="Logo Leroy Merlin"/>
                    <img src="../static/imagenes/Equilan-logo.jpg" alt="Logo Equilan"/>
                </div>
            </div>

            <div class="columna_footer">
                <u><h3>Contáctanos:</h3></u>
                <p><b>Correo:</b> a_assembly@axassembly.com</p>
                <p><b>Direccion:</b> Berio Pasalekua 50 - San Sebastian/Donosti, Guipuzcoa - España</p>
                
            </div>

            <div class="columna_footer">
                <u><h3>Siguenos en:</h3></u>
                <a href=""><i class="fa-brands fa-instagram" style="font-size: 35px; color: whitesmoke;"></i></a>

            </div>
            
            <p class="pie">© 2026 Axa Assembly</p>
        </div>
    </footer>

</body>

<script src="../static/Script/Carrusel_anuncios.js"></script>

<script src="../static/Script/Menu_usuario.js"></script>


</html>
