<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="icon" href="../static/imagenes/Logo_Axa_asb.png" type="image/x-icon">
    <!-- BOXICONS CSS-->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/2193d055c9.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="stylesheet" href="/static/CSS/productos.css">
    <link rel="stylesheet" href="/static/CSS/MediaQueries.css"> 
    
</head>
<body> <header class="encabezado">
        <nav class="navegador_secciones">
            <a href="{{ url_for('home') }}">
                <img src="/static/imagenes/Logo_Axa_asb.png" alt="Logo de empresa" class="logo">
            </a>
            <nav class="nav-links">
                <a href="{{ url_for('pagina_productos') }}" class="Apartados">Productos</a>
                {% if session.get('rol') == "admin" %}
                    <a href="{{ url_for('personalizar_muebles') }}" class="Apartados">Añadir artículo nuevo</a>
                {% else %}
                    <a href="{{ url_for('personalizar_muebles') }}" class="Apartados">Personalizacion Muebles</a>
                {% endif %}
            <div class="dropdown-carrito">
                <button type="button" class="Apartados" onclick="mostrarCarrito(event)">
                  <span id="contador-carrito">🛒 0</span>
                </button>

             <div id="menuCarrito" class="contenido-carrito" style="display:none;">
              <div id="productos-carrito">
                 <p>Carrito vacío</p>
              </div>

             <hr>

              <p>
                  <strong>Total: </strong>
                  <span id="total-carrito">0.00 €</span>
              </p>

                  <button onclick="window.location.href='/pedido'">
                  Finalizar pedido
                  </button>
              </div>
             </div>

            </nav>
                <div class="dropdown">
                    <img src="/static/imagenes/15081.png" 
                    alt="Imagen_Log_in" 
                    class="login" 
                    onclick="Menu_login_registro()">
                        
                    {% if session.get("id_usuario") %}
                        <div id="menuLogin" class="dropdown-content">
                            <p>Hola {{session.get("usuario")}}</p><br>
                            <a href="{{url_for('logout')}}">Cerrar sesion</a>
                        </div>
                    
                    {% else %}
                        <div id="menuLogin" class="dropdown-content">
                            <a href="{{ url_for('login') }}">Login</a>
                            <a href="{{ url_for('registro') }}">Registrarse</a>
                        </div>
                    {% endif %}
                </div>
        </nav>
    </header>
    
    <form action="{{url_for('pagina_productos')}}" method="post">
    
    <div class="Apartados" style="margin: 20px; border: 10px solid;">

        <div class="Apartado_producto">
            
                <button type="submit" name="secciones" value="Salon">
                    <h3>SALON</h3><br><p>🛋️📺</p>
                </button>
          
                <button type="submit" name="secciones" value="Cocina">
                    <h3>COCINA</h3><br><p>🧑‍🍳🍳</p>
                </button>
    
                <button type="submit" name="secciones" value="Comedor">
                    <h3>COMEDOR</h3><br><p>🍽️🥗</p>
                </button>
    
                <button type="submit" name="secciones" value="Dormitorio">
                    <h3>DORMITORIO</h3><br><p>🛏️💤</p>
                </button>
        
                <button id="Btn_Aseo" type="submit" name="secciones" value="Aseo">
                    <h3>BAÑO</h3><br><p>🛀🫧</p>
                </button>
    
                <button type="submit" name="secciones" value="Terraza">
                    <h3>TERRAZA</h3><br><p>🏡🌿</p>
                </button>
    
                <button type="submit" name="secciones" value="Jardin">
                    <h3>JARDIN</h3><br><p>🪴🌳</p>
                </button>
            
                <button type="submit" name="secciones" value="Recibidor">
                    <h3>RECIBIDOR</h3><br><p>🚪🪞</p>
                </button>
        
                <button type="submit" name="secciones" value="Lavanderia">
                    <h3>LAVANDERIA</h3><br><p>🧼✨</p>
                </button>
         
                <button type="submit" name="secciones" value="Oficina">
                    <h3>OFICINA</h3><br><p>🖥️🖨️</p>
                </button>
            
        </div>

    </div>
    
    <div class="filtros">
            
            <h3><u>Filtrar productos</u></h3>
            <input type="hidden" name="secciones" id="seccion-guardada" value="{{ request.form.get('secciones', '') }}"><br>
            
            <div class="filtro-grupo">
                <label><b>Precio</b></label> 
                <div class="filtro-precio">
                    <input type="number" id="precio-min" name="p_min" placeholder="Mín €" min="1" max="7000">
                    <p>─</p>
                    <input type="number" id="precio-max" name="p_max" placeholder="Máx €" min="1" max="7000">
                </div>
            </div><br>

            <div class="filtro-grupo">
                <label><b>Color</b></label>
                <select id="filtro-color" name="color">
                    <option value="">Todos</option>
                    <option value="Gris">Gris</option>
                    <option value="Natural">Natural</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Marron">Marron</option>
                    <option value="Negro">Negro</option>
                    <option value="Beige">Beige</option>
                    <option value="Transparente">Transparente</option>
                    <option value="Nogal">Nogal</option>
                    <option value="Azul">Azul</option>
                    <option value="Marron_oscuro">Marron oscuro</option>
                    <option value="Plateado">Plateado</option>
                    <option value="Azul_oscuro">Azul oscuro</option>
                    <option value="Verde">Verde</option>
                    <option value="Dorado">Dorado</option>
                    <option value="Oscuro">Oscuro</option>
                    <option value="Gris oscuro">Gris oscuro</option>
                </select>
            </div>

            <div class="filtro-grupo">
                <label><b>Material</b></label>
                <select id="filtro-material" name="material">
                    <option value="">Todos</option>
                    <option value="Tela">Tela</option>
                    <option value="Roble">Roble</option>
                    <option value="Melamina">Melamina</option>
                    <option value="Cuero">Cuero</option>
                    <option value="Metal">Metal</option>
                    <option value="Cristal">Cristal</option>
                    <option value="Madera">Madera</option>
                    <option value="Terciopelo">Terciopelo</option>
                    <option value="MDF">MDF</option>
                    <option value="Textileno">Textileno</option>
                    <option value="Acero">Acero</option>
                    <option value="Bambu">Bambu</option>
                    <option value="Nogal">Nogal</option>
                    <option value="Teca">Teca</option>
                    <option value="Mailla">Mailla</option>
                    <option value="Fibra_carbono">Fibra carbono</option>
                    <option value="Ratan">Ratan</option>
                    <option value="Aluminio">Aluminio</option>
                    <option value="PVC">PVC</option>
                    <option value="Pino">Pino</option>
                    <option value="Piedra_sintetica">Piedra sintetica</option>
                    <option value="tela">Tela</option>
                    <option value="Marmol">Marmol</option>
                </select>
            </div>
            <div class="filtro-grupo">
                <label><b>Ordenar por precio</b></label>
                <select name="orden">
                    <option value="">Sin orden</option>
                    <option value="de_barato_a_caro">Menor a mayor</option>
                    <option value="de_caro_a_barato">Mayor a menor</option>
                </select>
            </div>
            <br>
            
            <div class="filtro-grupo">
                <button onclick="aplicarFiltros()" type="submit" name="accion" >Aplicar filtros</button>
                <button onclick="limpiarFiltros()" type="submit" >Limpiar</button>
            </div>
            
        </div><br>
    
    </form> 

    <div class="layout-principal">
       
        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}

        <div class="contenedor-productos">
            {% for producto in productos %}
            {%if producto.stock != -1 and producto.id_proveedor != none %} 
                <div class="tarjeta-producto">
                        <img src="{{ producto.url_imagen }}" alt="{{ producto.nombre }}">
        
                        <h3>{{ producto.nombre }}</h3>
                 
                        
                        {% if porcentaje > 0 %}
                            <p class="precio" style="text-decoration: line-through; color: #888; font-size: 0.9em; margin-bottom: 2px;">
                                {{ producto.precio }} €
                            </p>
                     
                           
                            <p class="precio-descuento" style="color: #27ae60; font-weight: bold; margin-top: 0;">
                                {{ producto.precio_con_descuento }} € <span style="font-size: 0.8em;">(-{{ porcentaje }}%)</span>
                            </p>
                        {% else %}
                            <p class="precio">{{ producto.precio }} €</p>
                        {% endif %}
        
                       <form>     
                        <button type="button"
                                class="btn-carrito"
                                data-id="{{ producto.id_mueble }}"
                                data-nombre="{{ producto.nombre }}"
                                data-precio="{{ producto.precio }}"
                                onclick="agregarCarrito(this)">
                                Añadir al carrito
                        </button>
                       </form>
                    {% if session.get("rol") == "admin" %}
                        <button class="boton-abrir" type="button">Editar</button>
                      
                        <button type="submit" form="form-eliminar-{{ producto.id_mueble }}"
                        onclick="return confirm('¿Estás seguro de que quieres eliminar este mueble?');">Eliminar</button>

                        <form id="form-eliminar-{{ producto.id_mueble }}" action="{{ url_for('eliminar_articulo') }}" method="POST" style="display: none;">
                            <input type="hidden" name="id_mueble" value="{{ producto.id_mueble }}">
                        </form>
                    {% else %}
                      <button class="boton-abrir" type="button">Ver más</button>
                    {% endif %}
                      
                            <div id="vista-{{ producto.id_mueble }}" class="producto-detallado" style="display: none; border: 1px solid #ccc; padding: 15px; margin-top: 10px;">
                                <h2>{{ producto.nombre }}</h2>
            
                                <p class="descripcion">{{ producto.descripcion }}</p><br>
                                
                                <ul class="dimensiones-base" style ="padding-left: 15px;">
                                <b>Dimensiones Base:</b> 
                                <li>(Ancho) = {{ producto.ancho }} cm </li>
                                <li>(Alto) = {{ producto.alto }} cm </li>
                                <li>(Profundidad) = {{ producto.profundidad }} cm </li>
                                </ul><br>
            
                                {% if session.get("rol") == "admin" or session.get("rol") == "empleado" %}
                                    <p class="stock">Stock: {{ producto.stock }}</p>
                                {% endif %}
                                
                                {% if session.get("rol") == "admin" %}
                                    <div class="panel-edicion-admin" style="border: 2px dashed #e74c3c; padding: 15px; margin-top: 20px; background-color: #fdf2f2; text-align: left; border-radius: 6px;">
                                        <h3>Panel de Gestión de Catálogo (Admin)</h3>
                                        
                                            <input type="hidden" name="id_mueble" value="{{ producto.id_mueble }}" form="form-edit-{{ producto.id_mueble }}">
                                            <label>Nombre: <input type="text" name="nombre" value="{{ producto.nombre }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <label>Precio: <input type="number" step="0.1" name="precio" value="{{ producto.precio }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <label>URL imagen: <input type="text" name="url_imagen" value="{{ producto.url_imagen }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <label>Material: <input type="text" name="tipo_material" value="{{ producto.tipo_material }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <label>Color: <input type="text" name="color" value="{{ producto.color }}" form="form-edit-{{ producto.id_mueble }}"></label><br>
                                            
                                            <label>Descripción: 
                                            <textarea name="descripcion" form="form-edit-{{ producto.id_mueble }}" style="width: 100%;"> {{ producto.descripcion }}</textarea></label><br>
                                            <label>Stock: <input type="number" name="stock" value="{{ producto.stock }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <label>Ancho: <input type="number" step="0.1" name="ancho" value="{{ producto.ancho }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <label>Alto: <input type="number" step="0.1" name="alto" value="{{ producto.alto }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <label>Profundidad: <input type="number" step="0.1" name="profundidad" value="{{ producto.profundidad }}" form="form-edit-{{ producto.id_mueble }}"></label>
                                            <button type="submit" form="form-edit-{{ producto.id_mueble }}"> Guardar cambios</button>
                                        
                                        
                                    </div>
                                
                                
                            {% endif %}
                                
                                <br>
                                <button class="boton-cerrar" type="button">Cerrar</button>
                                
                                   
                                
                            </div> 
                            {% if session.get("rol") == "admin" %}
                                <form id="form-edit-{{ producto.id_mueble }}" action="{{ url_for('editar_mueble') }}" method="POST" style="display:none;"></form>
                            {% endif %}
                </div>
            {% endif %}
            {% endfor %}
           
        </div>
            
    </div>
    
    
    
    <div class="Espacio_footer"><br></div>
    
    <footer>
        <div class="footer_contenido">
            <div class="columna_footer">
                <u><h3>Proovedores: </h3></u>
                <div class="img_parocinadores">
                    <img src="../static/imagenes/DHL_Logo.jpg" alt="Logo DHL">
                    <img src="../static/imagenes/Kartra-Review_logo.jpg" alt="Logo Kartra"/>
                    <img src="../static/imagenes/Correos_logo.jpg" alt="Logo correos"/>
                    <img src="../static/imagenes/Mollari_logo.jpg" alt="Logo Mollarri Garraioak"/>
                    <img src="../static/imagenes/Leroy_Merlin_logo.jpg" alt="Logo Leroy Merlin"/>
                    <img src="../static/imagenes/Equilan-logo.jpg" alt="Logo Equilan"/>
                </div>
            </div>

            <div class="columna_footer">
                <u><h3>Contáctanos:</h3></u>
                <p><b>Correo:</b> a_assembly@axassembly.com</p>
                <p><b>Direccion:</b> Berio Pasalekua 50 - San Sebastian/Donosti, Guipuzcoa - España</p>
                
            </div>

            <div class="columna_footer">
                <u><h3>Siguenos en:</h3></u>
                <a href=""><i class="fa-brands fa-instagram" style="font-size: 35px; color: whitesmoke;"></i></a>

            </div>
            
            <p class="pie">© 2026 Axa Assembly</p>
        </div>
    </footer>
    
    
<script src="../static/Script/Carrusel_anuncios.js"></script>

<script src="../static/Script/Menu_usuario.js"></script>

<script src="../static/Script/Ventana_producto.js"></script>

<script src="../static/Script/carrito.js"></script>
    
</body>
</html>