<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axa-Login</title>
    <link rel="icon" href="../static/imagenes/Logo_Axa_asb.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/CSS/styles.css"> 
</head>
<body>
    <header class="encabezado">
        <nav class="navegador_secciones">
            <nav class="nav-links">
                
                <!--    Enlace a pagina principal   -->
                <a href="{{ url_for('home') }}">
                    <img src="/static/imagenes/Logo_Axa_asb.png" alt="Logo de empresa" class="logo">
                </a>
                <a href="{{ url_for('pagina_productos') }}" class="Apartados">Productos</a>
                <a href="{{ url_for('personalizar_muebles') }}" class="Apartados">Personalizacion Muebles</a>
                <a href="#" class="Apartados">Carrito</a>

                <!--    Dropdown del usuario    -->
                <div class="dropdown">
                    <img src="/static/imagenes/15081.png" 
                        alt="Imagen_Log_in" 
                        class="login" 
                        onclick="Menu_login_registro()">

                    <div id="menuLogin" class="dropdown-content">
                        <!--Enlace a pagina login-->
                        <a href="{{ url_for('login') }}">Login</a>
                        <!--Enlace a pagina registro-->
                        <a href="{{ url_for('registro') }}">Registrarse</a>
                    </div>
                </div>
            </nav>
        </nav>
    </header>
        
        <div class="contenedor" style="max-width: 50%;">
            <form action="{{url_for('registro')}}" method="post">
                <h3>Registrarse</h3><br>
                    <p>Nombre</p>
                    <input type="text" name="Nom_cliente" id="Nom_cliente">
                    
                    <p>Apellido</p>
                    <input type="text" name="apellido_cliente" id="apellido_cliente">
                    
                    <p>Email</p>
                    <input type="email" name="email_cliente" id="email_cliente">
                    
                     <p>Telefono</p>
                    <input type="text" name="telefono_cliente" id="telefono_cliente">

                    <br><br><p>Contraseña</p>
                    <input type="text" name="Contrase_cliente" id="Contrase_cliente">

                <br><br><button type="submit" id="btn_registro">Registrarse</button>
                    <br>
                    <div>{% if mensaje %}
                        {{mensaje}}
                        {% endif %}
                    </div>
                    
            </form>
        </div>
        
</body>

<script src="../static/Script/Menu_usuario.js"></script>


</html>